body{
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Libre Franklin,sans-serif;
    font-size: 20px;
}
.main--container{
    margin: 5% 30% 0 30%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logo{
    margin: 20% 0 0 0;
    padding: 0;
    width: 13%;
}
h1{
    margin: 7% 0 3% 0;
    font-size: 2.5em;
    color: hsl(0, 0%, 59%);
    font-weight: 300;
}
span{
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}
.text_darkblue{
    margin: 7% 0 0 0;
    color: hsl(209, 33%, 12%);
    font-weight: 300;
}
article{
    width: 100%;
}
form{
    margin: 7% 0 0 0;
    width: 100%;
    display: flex;
    grid-gap: 3%;
    position: relative;
}
form>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.validate-form>input{
    padding: 3.5% 0;
    width: 100%;
    border: solid 0.5px;
    border-radius: 30px;
    text-indent: 5%;
}
.validate-form input:focus {
    outline: 0.5px solid hsl(223, 87%, 63%);
}
.validate-form.error input {
	border-color: #e74c3c;
}
.validate-form span {
    width: 50%;
    position: absolute;
    bottom: -40%;
    left: 5%;
    color: red;
    font-size: 13px;
    text-align: left;
	visibility: hidden;
}
.validate-form.error span {
	visibility: visible;
}
button{
    padding: 2% 8%;
    border-radius: 30px;
    border-style: none;
    background-color:  hsl(223, 87%, 63%);
    color: white;
    font-weight: 600;
    width: 35%;
}
button:hover{
    cursor: pointer;
}
.dashboard{
    margin: 15% 0 15% 0;
    width: 100%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    grid-gap: 10%;
    padding: 0;
}
ul>li{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul>li>a:hover{
    background-color: hsl(223, 87%, 63%);
    color: white;
}
ul>li>a{
    color: hsl(223, 87%, 63%);
    border-style: dashed;
    border: solid 0.5px gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 3px;
}
footer>p{
    margin: 0 0 5% 0;
    font-size: 16px;
    color: hsl(0, 0%, 59%);
}
@media only screen and (max-width:860px){
    body{
        width: auto;
    }
    .main--container{
        margin: 40% 10% 0 10%;
    }
    .logo{
        width: 20%;
    }
    h1{
        font-size: 1.3em;
        margin: 15% 0 0 0;
    }
    .text_darkblue{
        margin: 7% 0 0 0;
        font-size: 0.735em;
    }
    article{
        width: 100%;
    }
    form{
        flex-direction: column;
        margin: 10% 0 0 0;
    }
    div{
        position: relative;
    }
    .validate-form span {
        width: 80%;
        left: 20%;
        bottom: -45%;
    }
    button{
        padding: 3.5% 0;
        margin: 10% 0 0 0;
        width: 100%;
    }
    .dashboard{
        margin: 15% 0 25% 0;
    }
    ul{
        padding: 0;
        grid-gap: 5%;
    }
    footer>p{
        margin-bottom: 15%;
        font-size: 0.6em;
    }
}